.diferença-content {
    position: relative;
    padding-bottom: -6rem;
    top: -1rem;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: var(--gap);
    height: 100vh;
}

.diferença-text-content, .diferença-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.diferença-text-content h3 {
    font-size: 4rem;
    margin-bottom: 5rem;
}

.diferença-img img{
    max-width: 100%;
    height: auto;
}

.sobre-content {
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    text-align: center;
}